{% extends "basesite.html" %}

{% block content %}
<h1>{{ file_name }}</h1>
<div>
    <div id="file"></div>
    <div id="img"></div>
    <a href="/user/{{ user }}/tree/" class="button" align="left">Tree View</a>

    <script type="text/javascript" src="https://cdn.rawgit.com/CryptoStore/crypto-js/3.1.2/build/rollups/aes.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/CryptoStore/crypto-js/3.1.2/build/components/mode-cfb-min.js"></script>
    <script type="text/javascript" >
        var base64ciphertextFromPython = '{{ filedata }}';
        var ciphertext = CryptoJS.enc.Base64.parse(base64ciphertextFromPython);

        // split iv and ciphertext
        var iv = ciphertext.clone();
        iv.sigBytes = 16;
        iv.clamp();
        ciphertext.words.splice(0, 4); // delete 4 words = 16 bytes
        ciphertext.sigBytes -= 16;

        var key = CryptoJS.enc.Utf8.parse("1234567890123456");

        // decryption
        var decrypted = CryptoJS.AES.decrypt({ciphertext: ciphertext}, key, {
          iv: iv,
          mode: CryptoJS.mode.CFB
        });

        document.getElementById('img').innerHTML = '<img src="
        // document.getElementById('file').innerHTML = decrypted.toString(CryptoJS.enc.Utf8);
    </script>

</div>
{% endblock %}