{% extends "basesite.html" %}

{% block content %}
<h1>{{ file_name }}</h1>
<div>
    <div id="file"></div>
    <div id="img"></div>
    <div id="videofile"></div>
    <a href="/user/{{ user }}/tree/" class="button" align="left">Tree View</a>

    <script type="text/javascript" src="https://cdn.rawgit.com/CryptoStore/crypto-js/3.1.2/build/rollups/aes.js"></script>
    <script type="text/javascript" src="https://cdn.rawgit.com/CryptoStore/crypto-js/3.1.2/build/components/mode-cfb-min.js"></script>
    <script type="text/javascript" src="http://sladex.org/blowfish.js/ext/blowfish.js">	</script>
	<script type="text/javascript">
		var data = blowfish.decrypt('{{ file_data }}' , localStorage['password'], {cipherMode: 1, outputType: 0}),
		decrypted = data.slice(8,);
        if("{{ file_type }}" == "txt")
        {
            document.getElementById('file').innerHTML = decrypted;
        }
        else if('{{ file_type }}' == 'jpg')
        {
            document.getElementById('img').innerHTML = '<img width=50% src="data:image/jpg;base64,'+btoa(decrypted)+'">'
        }
        else if('{{ file_type }}' == 'png')
        {
            document.getElementById('img').innerHTML = '<embed src="data:image/png;base64,'+btoa(decrypted)+'">'
        }
        else if('{{ file_type }}' == 'mp4')
        {
            document.getElementById('videofile').innerHTML = '<video id="player" controls >'
            var player = document.getElementById('player');
            player.src = "data:video/webm;base64,"+ btoa(decrypted);
            player.load();
            player.play();
        }

    </script>

</div>
{% endblock %}